/* Contenedor principal del header */
.header-container{
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    background-color: #2A3C43;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 2rem;
}

/*Bloque con logo y link*/
.header-container__link{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    display: flex;
    align-items: end;
}
.header-container__logo{
    height: 3rem;
    width: 3rem;
}

/* Botón de menú hamburguesa */
.navbar-toggler-icon {
    filter: invert(1);
}
